/*--------------------------------------------------------------
# LOGO
--------------------------------------------------------------*/

.logo-framework .fill-primary {
	fill: var(--primary-40);
}

.dark .logo-framework .fill-primary {
	fill: var(--primary-80);
}

.logo-framework .fill-neutral {
	fill: var(--neutral-80);
}

.dark .logo-framework .fill-neutral {
	fill: var(--neutral-90);
}

.test-float {
	position: fixed;
	right: 24px;
	bottom:  24px;
	z-index: 999999;
}